/* ----------------  Top Block ---------------- */
.top-block {
    width: 100vw;
    height: 25rem;

    background-image: url(../images/about-top-block.jpg);
    background-size: cover;
    background-position: top 60% left 0;
    background-repeat: no-repeat;

    margin-bottom: 6rem;
}

/* ----------------  About start ---------------- */
.about-list {
    position: relative;

    display: flex;
    gap: 2rem;

    width: 100%;
    margin: 0 auto;
}

.about-list::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: -1;

    width: 80%;
    height: 80%;
    border-radius: 10%;
    background-color: var(--orange-100);
}

.about-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-item:nth-child(2) {
    flex-grow: 1;
}

.about-content-wrapper {
    position: relative;

    box-sizing: border-box;
    padding: 0;
    border-radius: 4rem;
    background-color: #FFFFFF;
    
    transition-duration: .5s;
}
.about-content-wrapper.animating{
    border-radius: 0;
    padding: 1rem;
}
.about-content-wrapper.animating .about-content{
    padding: 1.2rem 2rem;
}
/* Top Bottom border hover*/
.about-border--topRight,
.about-border--bottomLeft{
    position: absolute;
    width: 0;
    height: 0;
}
.about-border--topRight{
    top: -8px;
    left: -8px;
}
.about-border--bottomLeft{
    bottom: -8px;
    right: -8px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 100%;
    box-sizing: border-box;
    padding: 2.2rem 3rem;
    border: 2px solid var(--orange-300);
    border-radius: 3rem;

    transition-duration: .5s;
}

.about-content h3 {
    font-size: 2.4rem;
    color: var(--orange-600);
}

.about-content p {
    font-size: 1.6rem;
    text-align: left;
    color: var(--orange-900);
}

/* -------- Location -------- */
.location.about-content-wrapper {
    height: 100%;
}

.location iframe {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}
/* ----------------  About end ---------------- */