/* ----------------  Top Block ---------------- */
.top-block{
    width: 100vw;
    height: 25rem;

    background-image: url(../images/about-top-block.png);
    background-size: cover;
    background-position: top 50% right 0;
    background-repeat: no-repeat;

    margin-bottom: 6rem;
}
/* ----------------  About start ---------------- */
