p{
    font-weight: bold;
}
/* ----------------  Top Block ---------------- */
.top-block{
    width: 100%;
    height: 50rem;
    margin-bottom: 6rem;

    background-image: url(../images/about-top-block.png);
    background-size: cover;
    background-position: bottom 40% right 0;
    background-repeat: no-repeat;
}

/* ----------------  Must start ---------------- */
#mustSlider{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
    margin: 0 auto;
}
#mustSliderLeftBtn,
#mustSliderRightBtn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    
    transition-duration: .5s;
}
#mustSliderLeftBtn:hover,
#mustSliderRightBtn:hover{
    background-color: var(--orange-100);
    box-shadow: var(--boxShadow);
}
#mustSlider .chevron-arrow--left,
#mustSlider .chevron-arrow--right{
    width: 30%;
    height: 30%;
}

.must-list-wrapper{
    display: flex;
    gap: 8px;
    overflow: hidden;

    width: calc(100% - 8rem);
}
.must-list{
    position: relative;

    display: flex;
    gap: 8px;

    width: calc(30rem * 5);
    height: 44rem;
}
.must-item{
    display: flex;
    flex-direction: column;
    align-self: center;

    /* width: calc(100vw - 160px); */
    width: 26rem;
    box-sizing: border-box;
    border-radius: 4rem;
    
    transition-duration: 0.5s;
}
.must-item.active{
    z-index: 3;
    transform: scale(1.2);
    box-shadow: var(--boxShadow);
}
.must-item img{
    width: 100%;
    height: 26rem;
    border-radius: 20px 20px 0 0 ;
    filter:brightness(1.1);
    opacity: 80%;
    transition-duration: .5s;
}
.must-item.active img{
    opacity: 1;
}
.must-item:hover img{
    opacity: 1;
}
.must-item-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 0 0 20px 20px;
    background-color: var(--orange-100);
    
    text-align: left;
}
.must-item-content h4{
    font-size: 2rem;
    color: var(--orange-950);
    margin-bottom: 1.2rem;
}
.must-item-content p{
    font-size: 1.6rem;
    color: var(--orange-600);
}
/* ----------------  Must end ---------------- */
/* ----------------  New start ---------------- */
.new-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem 6rem;

    /* width: calc(100% - 8rem); */
    box-sizing: border-box;
    margin: 0 auto;
}
.new-item{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 24rem;
    border-radius: 8px;

    font-size: 0;

    transform: none;
    transition-duration: .5s;
    animation: newItemFloat 8s linear infinite;
    animation-play-state: running;
}
@keyframes newItemFloat{
    0%{
        transform: none;
    }
    25%{
        transform: translateY(-8px);
    }
    75%{
        transform: translateY(8px);
    }
    100%{
        transform: none;
    }
}
.new-item:hover{
    box-shadow: var(--boxShadow);
    animation-play-state: paused;
}
.new-item-number{
    position: absolute;
    top: 18rem;
    left: -3.2rem;
    transform: rotate(45deg);
    
    width: 6.4rem;
    height: 6.4rem;
    box-sizing: border-box;
    border-radius: 8px;
    background: linear-gradient(180deg, var(--orange-400) 0%, var(--orange-600) 100%);
    
    color: var(--orange-50);
    /* transition-duration: .5s; */
}
.new-item-number p{
    font-size: 3.2rem;
    line-height: 6.4rem;
    transform: rotate(-45deg);
}
.new-item-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    width: 100%;
    min-height: 108px;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 0 0 8px 8px;
    /* clip-path: polygon(19% 0, 100% 0, 100% 100%, 0 100%, 0 30%); */
    background: linear-gradient(270deg, var(--orange-100) 0%, var(--orange-200) 100%);
    
    text-align: left;
}
.new-item-content h4{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--orange-950);
}
.new-item-content h5{
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 2px;
    color: var(--orange-600);
}
.new-item img{
    width: 100%;
    height: 24rem;
    border-radius: 8px 8px 8px 0;
}
.go-menu{
    display: block;

    width: 8rem;
    height: 8rem;
    box-sizing: border-box;
    border: 2px solid var(--orange-500);
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 8px;

    font-size: 1.6rem;
    line-height: 8rem;
    color: var(--orange-500);

    transition-duration: .4s;
}
.go-menu:hover {
    animation: spin .4s linear forwards;
}
.go-menu:not(:hover){
    animation: reverseSpin .4s linear forwards;
}

/* Define the spin animation */
@keyframes spin {
    from {
        border-radius: 8px;
        transform: rotate(0deg);
        background-color: transparent;
        color: var(--orange-500);
        
    }
    to {
        border-radius: 50%;
        transform: rotate(360deg);
        background-color: var(--orange-500);
        color: var(--orange-50);
    }
}
@keyframes reverseSpin{
    from {
        border-radius: 50%;
        transform: rotate(360deg);
        background-color: var(--orange-500);
        color: var(--orange-50);
    }
    to {
        border-radius: 8px;
        transform: rotate(0deg);
        background-color: transparent;
        color: var(--orange-500);
    }
}
/* ----------------  New end ---------------- */
/* ----------------  FAQ start ---------------- */
#faq{
    position: relative;

    width: 100%;
    max-width: 100vw;
    height: 44rem;
    box-sizing: border-box;
    padding: 0 120px;
    background-color: var(--orange-500);
    
    margin-top: 20rem;
}
#faq img{
    position: absolute;
    top: -10rem;
    right: 22%;

    width: 80%;
    min-width: 1200px;
    height: 44rem;
    border-radius: 0 100px 0 0; 
    filter:brightness(60%);
}
#faq .faq-content{
    position: absolute;
    right: 10%;
    bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 44rem;
    box-sizing: border-box;

    text-align: left;
    letter-spacing: 2px;
}
#faq .faq-content h3{
    box-sizing: border-box;
    padding-right: 20%;

    font-size: 3.2rem;
    color: var(--orange-300);
    text-shadow: var(--orange-950) 1px 1px;
}
#faq .faq-content p{
    box-sizing: border-box;
    padding-left: 20%;

    font-size: 2rem;
    line-height: 1.4;
    color: var(--orange-50);
}
/* ----------------  FAQ end ---------------- */
/* ----------------  Tips start ---------------- */
#tips h3{
    font-size: 3.2rem;
    color: var(--orange-700);
    
    margin-bottom: 4rem;
}
.tips-list{
    position: relative;
    
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
    /* width: 60rem; */
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}
.tips-list .curve-arrow--left{
    position: absolute;
    top: 4rem;
    left: -16rem;
    transform: rotate(45deg);
}
.tips-list .curve-arrow--right{
    position: absolute;
    bottom: 8rem;
    right: -16rem;
    transform: rotate(225deg);
}
.tips-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.tips-item h4{
    font-size: 2.4rem;
    color: var(--orange-950);
}
.tips-item:nth-child(2) h4{
    text-align: left;
}
.tips-item:nth-child(3) h4{
    text-align: right;
}
.tips-item img{
    width: 100%;

    border-radius: 8px;
}
/* ----------------  Tips end ---------------- */
/* ----------------  Reach start ---------------- */
#reach p{
    font-size: 3.2rem;
    color: var(--orange-700);

    margin-bottom: 4rem;
}
#reach a{
    display: block;

    width: 12rem;
    height: 6rem;
    border-radius: 5rem;
    background: linear-gradient(180deg, var(--orange-400) 0%, var(--orange-600) 100%);
    
    font-size: 2rem;
    color: var(--orange-50);
    line-height: 6rem;

    margin: 0 auto;
}
/* ----------------  Reach end ---------------- */